<template>
    <table>
        <thead>
            <tr>
                <th v-for="(item, index) in listHeader">{{  }}</th>
            </tr>
        <thead>
        <tbody>
        <tr v-for="(item, index) in listData">
            <td v-for="(itemHeader, indexHeader) in listHeader">
                {{ item.indexHeader }}
            </td>
            <td v-for="(itemHeader, indexHeader) in listHeader">

            </td>
        </tr>
        </tbody>
    </table>
</template>
<script>
    var list = export default {
        name: 'List',
        props: ['listHeader','listData','listAction'],
        data () {
            return {

            }
        },
        components: {

        }
    }
</script>