@import 'import/reset.scss';
@import 'import/variables.scss';
@import 'import/bootstrap/bootstrap.scss';
@import 'import/login.scss';

html {
  height: 100%;
}

html body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: $base-font-family;
  font-size: $base-font-size;
  background-color: $light-grey;
}

html body td{
  text-align: center;
}

table {
  font-size: 0.6rem !important;
  text-align: left;

  tr {
    td {
      text-align: left;

      a {
        color: black !important;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      &.on-track-valid {
        span {
          font-weight: bold;
          padding: 10px 0;
          text-align: center;
          display: block;
          border-radius: 50px;
          background-color: $valid-color;
          border: 1px solid $valid-color-dark
        }
      }

      &.on-track-warning {
        span {
          font-weight: bold;
          padding: 10px 0;
          text-align: center;
          display: block;
          border-radius: 50px;
          background-color: $warning-color;
          border: 1px solid $warning-color-dark
        }
      }

      &.on-track-error {
        span {
          font-weight: bold;
          padding: 10px 0;
          text-align: center;
          display: block;
          border-radius: 50px;
          background-color: $error-color;
          border: 1px solid $error-color-dark
        }
      }

      &.info {
        div {
          position: relative;
          text-align: center;
          cursor: pointer;

          i.fa {
            font-size: 14px;
          }

          ul {
            z-index: 100;
            display: none;
            left: -450px;
            width: 450px;
            padding: 15px;
            text-align: left;
            position: absolute;
            background-color: #fff;
            border: 1px solid $dark-grey;

            li {
              font-size: 0.8rem;
              line-height: 1.4rem;
            }
          }

          &:hover {
            ul {
              display: block;
            }
          }
        }
      }
    }
  }
}

#app {
  width: 100%;
  height: 100%;

  .admin {
    width: 100%;
    height: 100%;

    .admin-tool-bar {
      flex: auto;
      width: 96%;
      padding: 5px 2%;
      background-color: white;
      font-size: 0.8rem;
      line-height: 2rem;
      border-bottom: 1px solid $grey;

      .data-user {
        width: 100%;
        text-align: right;

        p {
          width: 100%;
          text-align: right;
          display: inline-block;

          route-link {
            font-size: 0.9rem;
            margin-left: 2rem;
            cursor: pointer;
          }
        }
      }
    }

    .admin-content {
      width: 100%;
      height: calc(100% - 40px);
      display: flex;

      .admin-nav {
        flex: auto;
        width: 50px;
        height: 100%;
        background-color: darken($dark-grey,20%);

        ul {
          padding-top: 10px;
          list-style: none;

          li {
            width: 100%;
            display: block;
            text-align: center;

            a {
              width: 100%;
              display: block;
              font-size: 1rem;
              line-height: 2rem;
              color: $light-grey;
              text-decoration: none;

              &:hover {
                color: $grey;
              }
            }
          }
        }
      }

      .admin-module {
        display: flex;
        align-items: center;
        width: calc(96% - 50px);
        height: calc(100% - 40px);
        flex: auto;
        padding: 20px 2%;

        & > div {
          background-color: white;
          width: 96%;
          padding: 20px 2%;
          max-height: 90%;
          overflow: auto;

          &.list-data {

            font-size: 0.9rem;

            h2 {
              color: $base-color;
              font-size: 1.5rem;
              line-height: 4rem;
              margin-bottom: 1rem;
            }

            .list-toolbar {
              display: flex;

              h2 {
                flex: auto;
                width: 70%;
              }

              div {
                flex: auto;
                width: 30%;

                input {
                  width: 90%;
                }

                i {
                  margin-left: 2%;
                  cursor: pointer;
                  color: $base-color;
                }
              }
            }
          }
        }
      }

    }

  }

  div.loading-data {
    top: 25%;
    left: 4%;
    width: 100%;
    height: 50%;
    display: flex;
    padding: 40px 0 !important;
    align-items: center;
    position: absolute;

    img {
      display: block;
      margin: 0 auto;
    }
  }
}

div.form-data {
  top: 45px;
  left: 50px;
  top: 43px;
  width: calc(96% - 50px) !important;
  height: 92%;
  display: flex;
  max-height: 100% !important;
  align-items: center;
  position: absolute;
  background-color: rgba(0,0,0,0.7) !important;

  div.form {
    width: 40%;
    min-height: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid $grey;
    background-color: white;
    font-family: 'Open sans light', sans-serif;
    -webkit-box-shadow: 0px 0px 52px -4px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 0px 52px -4px rgba(0,0,0,0.31);
    box-shadow: 0px 0px 52px -4px rgba(0,0,0,0.31);

    h2.title-form {
      position: relative;
      color: $base-color;
      font-size: 1.5rem;
      line-height: 3rem;
      margin-bottom: 1rem;

      img {
        top: 0;
        right: 0;
        position: absolute;
      }
    }

    div.form-group {

      label {
        line-height: 2rem;
      }

      input.form-control {
        width: calc(100% - 1.5rem);
        padding: 0.5rem 0.75rem;
      }
    }

    div.button-group {

      button {
        cursor: pointer;
        color: $dark-grey;
        border: 1px solid $grey;
        border-radius: 5px;
        padding: 0.5rem 1.75rem;
        background-color: $light-grey;

        &:hover {
          background-color: darken($light-grey, 10%);
        }
      }

      button.btn-validation {
        color: white;
        border: none;
        background-color: $base-color;

        &:hover {
          background-color: darken($base-color, 10%);
        }
      }
    }
  }
}