#app {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;

  .login {
    width: 100%;
    flex: auto;

    .login-wrapper {
      width: 20%;
      margin: 0 auto;
      padding: 3rem 4%;

      img {
        width: 35%;
        display: block;
        margin: 0.5rem auto;
      }
      .group-form {
        padding-bottom: 1rem;

        label {
          display: block;
          padding-bottom: 0.5rem;
        }
        input {
          display: block;
          width: 96%;
          padding: 0.5rem 2%;
        }
      }
      button {
        width: 100%;
        background-color: $base-color;
        padding: 0.5rem  0;
        color: white;
        text-transform: uppercase;
      }
    }
  }
  .logout {
    width: 100%;
    flex: auto;
    text-align: center;

    p {
      padding-bottom: 3rem;
    }

    a {
      width: 20%;
      margin: 2rem auto;
      background-color: $base-color;
      padding: 0.5rem  2rem;
      color: white;
      font-size: 0.8rem;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}