// Color App
$base-color:  #dd3333;
$light-grey:  #f9f9f9;
$grey:        #b8b8b8;
$dark-grey:   #626262;

$valid-color: #d4edda;
$valid-color-dark: #155724;
$warning-color: #fff3cd;
$warning-color-dark: #fff3cd;
$error-color: #f8d7da;
$error-color-dark: #856404;

// Font Family
$base-font-family: 'Open Sans', sans-serif;

// Font Size
$base-font-size: 16px;
$title-font-size: 1.5rem;
$sub-title-font-size: 1.5rem;