<template>
    <div class="admin">
        <div class="admin-tool-bar">
            <div class="data-user">
                <p>Bienvenue {{ first_name }} {{ last_name }} <router-link to="logout"><i class="fa fa-sign-out" aria-hidden="true"></i></router-link></p>
            </div>
        </div>
        <div class="admin-content">
            <div class="admin-nav">
                <ul>
                    <li><router-link to="/"><i class="fa fa-tachometer" aria-hidden="true"></i></router-link></li>
                    <li><router-link to="users"><i class="fa fa-users" aria-hidden="true"></i></router-link></li>
                    <li><router-link to="projects"><i class="fa fa-folder" aria-hidden="true"></i></router-link></li>
                </ul>
            </div>
            <div class="admin-module">
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import config from '@/config/config';

    export default {
        name: 'Admin',
        data () {
            return {
                token: localStorage.getItem('token'),
                first_name: '',
                last_name: '',
                email: '',
                birthdate: '',
                short_name: '',
                avatar: null,
            }
        },
        mounted:function(){
            this.getUser() //getNavigation will execute at pageload
        },
        methods:{
            getUser:function(){
                axios.post(config.urlApi+'/v1/me', this.$data)
                .then(response => {
                  console.log(response.data);
                  var json = response.data.result;
                  this.first_name = json.first_name;
                  this.last_name = json.last_name;
                  this.email = json.email;
                  this.avatar = json.avatar;
                  this.short_name = this.first_name.substring(0,1)+this.last_name.substring(0,1);
                })
                .catch(e => {
                    console.log(e);
                });
            }
        }
    }
</script>