<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>

export default {
    name: 'app',
    data () {
        return {
            msg: 'MESSAGE'
        }
    }
}

</script>

<style>
  @import './assets/css/admin.css'
</style>

