<template>
    <admin>
        <div>
            <p>WELCOME IN THE DASHBOARD</p>
        </div>
    </admin>
</template>

<script>
import Admin from '@/layouts/Admin.vue';
import config from '../../config/config';

var token = localStorage.getItem('token');

export default {
    name: 'Dashboard',
    data () {
        return {
            token: token,
            msg: 'Welcome to Your Vue.js App'
        }
    },
    components: {
        'admin' : Admin
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
