<template>
    <div class="login">
        <div class="login-wrapper">
            <img src="../../assets/images/logo.png" alt="MEO design & communication"/>
            <div class="group-form">
                <label>Email</label>
                <input type="text" name="login-email" v-model="email" />
            </div>
            <div class="group-form">
                <label>Mot de passe</label>
                <input type="password" name="login-password" v-model="password" />
            </div>
            <button @click="login">connexion</button>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import config from '@/config/config';

    export default {
        name: 'Login',
        props: ['btn_value'],
        data () {
            return {
                email: '',
                password: ''
            }
        },
        methods: {
            login: function() {
                axios.post(config.urlApi+'auth/login', this.$data)
                .then(response => {
                    var json = response.data;
                    var token = json.token;
                    console.log(json);
                    localStorage.setItem('token', token);
                    this.$router.replace('/');
                })
                .catch(e => {
                    console.log(e);
                });
            }
        }
    }
</script>