<template>
    <div class="logout">
        <p>{{ msg }}</p>
        <router-link to="login">
            {{ msg_login }}
        </router-link>
    </div>
</template>
<script>
import axios from 'axios';
import config from '../../config/config';

export default {
    name: 'Logout',
    data () {
        return {
            token: localStorage.getItem('token'),
            msg: 'Vous avez été correctement déconnecté !',
            msg_login: 'Se connecter'
        }
    },
    mounted:function(){
        this.logoutUser() //getNavigation will execute at pageload
    },
    methods:{
        logoutUser:function(){
            axios.post(config.urlApi+'auth/logout', this.$data)
            .then(response => {
                console.log(response)
                localStorage.removeItem('token');
            })
            .catch(e => {
                console.log(e);
            });
        }
    }
}
</script>