<template>
    <admin>
        <div v-if="!projects" class="loading-data">
            <img src="../../assets/images/loading.gif" alt="Loading Data" width="150"/>
        </div>
        <div v-if="edit_id" class="form-data">
            <div class="form">
                <h2 class="title-form">{{ title_form }}<img v-if="loader_form" src="../../assets/images/loading.gif" alt="Loading Data" width="50"/></h2>
                <div v-if="message" class="alert" v-bind:class="class_alert">{{ message }}</div>
                <div class="form-group">
                    <input type="text" disabled class="form-control" id="name" v-bind:value="this.project.name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="po_client" placeholder="Numéro de PO" v-model="project.po_client">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="project_meo_id" placeholder="Numéro de projet" v-model="project.project_meo_id">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="budget" placeholder="Budget total du projet" v-model="project.budget">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="suppliers" placeholder="Total charge fournisseurs" v-model="project.suppliers">
                </div>
                <div class="form-group">
                    <select class="form-control" id="contact" v-model="project.contact">
                        <option value="">Choisir un contact</option>
                        <option v-for="(contact, key) in contacts" v-bind:value="contact.id">{{ contact.first_name }} {{ contact.last_name }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" id="acc_manager" v-model="project.user">
                        <option value="">Choisir un account manager</option>
                        <option v-for="(user, key) in users"
                                v-bind:value="user.id"
                                selected="(user.id == project.user) ? true : false">{{ user.first_name }} {{ user.last_name }}</option>
                    </select>
                </div>
                <div class="button-group">
                    <button type="button" class="btn-validation" v-on:click="saveFormUpdateProject()">Valider</button>
                    <button type="button" class="" v-on:click="cancelFormUpdateProject()">Fermer</button>
                </div>
            </div>
        </div>
        <div class="list-data">
            <div class="list-toolbar">
                <h2>Liste des projets</h2>
                <div class="search">
                    <input type="text" name="search" id="search" v-model="searchTerm" placeholder="Rechercher un projet" />
                    <i class="fa fa-search" aria-hidden="true" v-on:click="getSearchProjects"></i>
                </div>
            </div>
            <table class="table table-striped">
                <thead>

                    <tr>
                        <th>Client</th>
                        <th>No Projet</th>
                        <th>PO Client</th>
                        <th>Contact</th>
                        <th>ACC Manager</th>
                        <th>Projet</th>
                        <th>Budget</th>
                        <th>Suppliers</th>
                        <th>Total Heures</th>
                        <th>Total To Date</th>
                        <th>On Track</th>
                        <th>infos</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(project, key) in projects">
                        <td><a v-bind:href="url_teamwork+url_teamwork_search+project.company" target="_blank">{{ project.company }}</a></td>
                        <td>{{ project.project_meo_id }}</td>
                        <td>{{ project.po_client }}</td>
                        <td>{{ project.contact }}</td>
                        <td>{{ project.user }}</td>
                        <td><a v-bind:href="url_teamwork+url_teamwork_project+project.id+url_teamwork_param_task" target="_blank">{{ project.name }}</a></td>
                        <td>{{ project.budget_show }}</td>
                        <td>{{ project.suppliers_show }}</td>
                        <td><a v-bind:href="url_teamwork+url_teamwork_project+project.id+url_teamwork_param_time" target="_blank">{{ project.time_totals.total_hours_sum }}</a></td>
                        <td>{{ project.amount_to_date.price_to_date }}</td>
                        <td class="on-track-valid" v-if="project.amount_to_date.pourcent_to_date < 70"><span>{{ project.amount_to_date.pourcent_to_date }}%</span></td>
                        <td class="on-track-warning" v-if="project.amount_to_date.pourcent_to_date >= 70 && project.amount_to_date.pourcent_to_date <= 100">
                            <span>{{ project.amount_to_date.pourcent_to_date }}%</span>
                        </td>
                        <td class="on-track-error" v-if="project.amount_to_date.pourcent_to_date > 100"><span>{{ project.amount_to_date.pourcent_to_date }}%</span></td>
                        <td class="info">
                            <div v-if="project.amount_to_date.warning" class="info">
                                <i class="fa fa-info-circle"></i>
                                <ul v-if="project.amount_to_date.warning">
                                    <li v-for="warning in project.amount_to_date.warning">
                                        {{ warning }}
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <i class="fa fa-pencil" aria-hidden="true" v-on:click="openFormUpdateProject(project.id)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </admin>
</template>

<script>

import axios from 'axios';
import Admin from '@/layouts/Admin.vue';
import config from '@/config/config';

export default {
    name: 'Projects',
    data () {
        return {
            token: localStorage.getItem('token'),
            company: '',
            searchTerm: '',
            projects: '',
            edit_id: '',
            users: '',
            contacts: '',
            title_form: 'Editer un projet',
            project: '',
            project_meo_id: '',
            po_client: '000',
            project_id: '',
            contact_id: '',
            user_id: '',
            budget: '',
            suppliers: '',
            message: '',
            class_alert: '',
            loader_form: '',
            url_teamwork: 'https://meo3.teamwork.com/',
            url_teamwork_search: '#/search/',
            url_teamwork_project: '#projects/',
            url_teamwork_param_task: '/tasks',
            url_teamwork_param_time: '/time'
        }
    },
    components: {
        'admin' : Admin
    },
    mounted:function(){
        this.getProjects(),
        this.getContacts(),
        this.getUsers()
    },
    methods:{
        getProjects:function(){
            axios.post(config.urlApi+'v1/teamwork/projects', this.$data)
            .then(response => {
              console.log(response.data);
              this.projects = response.data.projects
            })
            .catch(e => {
                console.log(e);
            });
        },
        getContacts:function(){
            axios.post(config.urlApi+'v1/contacts', this.$data)
            .then(response => {
              console.log(response.data);
              this.contacts = response.data.contacts
            })
            .catch(e => {
                console.log(e);
            });
        },
        getUsers:function(){
            axios.post(config.urlApi+'v1/users/acc_manager', this.$data)
            .then(response => {
              console.log(response.data);
              this.users = response.data.users
            })
            .catch(e => {
                console.log(e);
            });
        },
        getSearchProjects:function(){
            this.projects = '';
            axios.post(config.urlApi+'v1/teamwork/search', this.$data)
            .then(response => {
              console.log(response.data);
              this.projects = response.data.projects
            })
            .catch(e => {
                console.log(e);
                this.projects = 'No data';
            });
        },
        openFormUpdateProject:function(id_project) {
            this.edit_id = id_project;
            this.project = this.projects[id_project];
        },
        cancelFormUpdateProject:function() {
            this.edit_id = '';
            this.message = '';
        },
        saveFormUpdateProject:function() {
            this.message='';
            this.loader_form = true;
            axios.post(config.urlApi+'v1/teamwork/project/save', this.$data)
            .then(response => {
                this.project_id = response.data.project_id
                var update_projects = response.data.projects
                this.projects[this.project_id] = update_projects[this.project_id];
                this.edit_id=this.project_id;
                this.loader_form = '';
                this.message = 'Le projet à bien été sauvé';
                this.class_alert = 'alert-success';
            })
            .catch(e => {
                console.log(e);
                this.projects = 'No data';
                this.loader_form = '';
                this.message = "Une erreur c'est produite";
                this.class_alert = 'alert-danger';
            });
            setTimeout(function(){
                this.message = '';
            }, 2000);
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>