<template>
    <admin>
        <div v-if="!users" class="loading-data">
            <img src="../../assets/images/loading.gif" alt="Loading Data" width="150"/>
        </div>
        <div v-if="edit_id" class="form-data">
            <div class="form">
                <h2>{{ title_form }}</h2>
                <div class="form-group">
                    <input type="text" class="form-control" id="first_name" placeholder="Prénom" value="" v-model="this.user_data.first_name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="last_name" placeholder="Nom" value="" v-model="this.user_data.last_name">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="user_email" placeholder="Adresse Email" value="" v-model="this.user_data.email">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="avatar" placeholder="URL Avatar" value="" v-model="this.user_data.avatar">
                </div>
                <div class="form-group">
                    <select class="form-control" id="role" v-model="this.user_data.role">
                        <option value="">Choisir un role</option>
                        <option value="administrator">Administrateur</option>
                        <option value="acc_manager">Account Manager</option>
                        <option value="user">Utilisateur</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="user_password" placeholder="Mot de passe" v-model="this.user_data.password">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="user_confirmed_password" placeholder="Confirmation mot de passe" v-model="this.user_data.confirm_password">
                </div>
                <div class="button-group">
                    <button type="button" class="btn-validation">Valider</button>
                    <button type="button" class="">Annuler</button>
                </div>
            </div>
        </div>
        <div class="list-data">
            <h2>Liste des utilisateurs</h2>
            <!--<button>Ajouter un utilisateur <i class="fa fa-plus" aria-hidden="true"></i></button>-->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th v-for="header in header_table">{{ header }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(user, key) in users">
                        <td v-for="(item, index) in header_table">
                            {{ user[index] }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </admin>
</template>

<script>
import axios from 'axios';
import Admin from '@/layouts/Admin.vue';
import config from '@/config/config';

export default {
    name: 'Users',
    data () {
        return {
            token: localStorage.getItem('token'),
            users: '',
            header_table: '',
            title_form: 'Créer un utilisateur',
            edit_id: '',
            user_data: {
                first_name: '',
                last_name: '',
                avatar: '',
                email: '',
                role: '',
                password: '',
                confirm_password: '',
            }
        }
    },
    components: {
        'admin' : Admin
    },
    mounted:function(){
        this.getUsers() //getNavigation will execute at pageload
    },
    methods:{
        getUsers:function(){
            axios.post(config.urlApi+'v1/users', this.$data)
            .then(response => {
              console.log(response.data);
              this.users = response.data.users;
              this.header_table = response.data.header_table;
            })
            .catch(e => {
                console.log(e);
            });
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>